.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-title{
    color: #ffffff;
    margin: 0;
}

.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.right-margin{
    margin-right: 20px;
}

.nav-link-disabled{
    color: #5c5c5c;
    text-decoration: none;
    pointer-events: none;
}

.nav-button{
    background-color: transparent;
    color: #dc3545;
    outline: none;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 700;
    cursor: pointer;
}

.invisible{
    display:none;
}